<div class="row">
  <div class="col-xxl-12">
    <div class="row">
      <div class="col-lg-6 col-md-6">
         <!-- <ngx-profit-card></ngx-profit-card>  -->
        <ngx-echarts></ngx-echarts> 
      </div>
      <div class="col-lg-6 col-md-6">
        <!-- <ngx-earning-card></ngx-earning-card>  -->
        <ngx-progress-section></ngx-progress-section> 
      </div>
    </div>
  </div>
   

  <div class="col-xxl-7">
    <ngx-traffic-reveal-card></ngx-traffic-reveal-card>
    <!-- <ngx-ecommerce-charts></ngx-ecommerce-charts> -->
  </div> 
</div>

<div class="row">
  <div class="col-xxl-9">
    <!-- <ngx-country-orders></ngx-country-orders> -->
    <ngx-ecommerce-charts></ngx-ecommerce-charts>
  </div>

  <div class="col-xxl-3">
    <!-- <ngx-progress-section></ngx-progress-section> -->
    <!-- <ngx-ecommerce-charts></ngx-ecommerce-charts> -->
  </div>
</div>

<!-- <div class="row">
  <div class="col-xxl-9">
    <ngx-ecommerce-visitors-analytics></ngx-ecommerce-visitors-analytics>
  </div>

  <div class="col-xxl-3">
    <ngx-user-activity></ngx-user-activity>
  </div>
</div> -->
