
<div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h5>Manage invoice</h5>        
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th>Date</th>
              <th>User</th>
              <th>Customer</th>
              <th>Total items</th>
              <th>Total</th>
             
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of invoiceArray">
              <td> {{item.dateTime}} </td>
              <td> {{item.username}} </td>
              <td> {{item.customer}} </td>
              <td> {{item.totalItems}} </td>
              <td> {{item.totalValue}} </td>
              <td>
                <button (click)="setToDelete(item.element)" class="btn btn-danger">Delete</button>
            </td>
            </tr>
            
          </tbody>
        </table>
      </div>
      <div class="card-footer">
       
      </div>
    </div>
  </div>


  
  

  
